<html>
<head>
</head>


<body>
add phrase<br>
    <form action="/polls/company/" method="post" name="company_form"><br>{% csrf_token %} 
         <input name="meth" type="text" value="7" /><br>
         <input name="Id" type="text" value="Id" /><br>
    	 <input name="phrase" type="text" value="phrase" /><br>
    	 <input name="price" type="text" value="price" /><br>
    	 <input name="param1" type="text" value="param1" /><br>
    	 <input name="param2" type="text" value="param2" /><br>
    	 
    	 <input name="sub" type="submit" value="sub" />
    </form>
</body>

</html>
