<html>
<head>
</head>


<body>
create banner<br>
    <form action="/polls/company/" method="post" name="company_form"><br>{% csrf_token %} 
        <input name="meth" type="text" value="3" /><br>
	    <input name="Id" type="text" value="Id" /><br>
	    <input name="title" type="text" value="title" /><br>
	    <input name="text" type="text" value="text" /><br>
	    <input name="url" type="text" value="url" /><br>
    	
    	 <input name="phrase" type="text" value="phrase" /><br>
    	 <input name="price" type="text" value="price" /><br>
    	 <input name="param1" type="text" value="param1" /><br>
    	 <input name="param2" type="text" value="param2" /><br>
	 <input name="ContactInfo" type="text" value="0" /><br>
	 <input name="contextprice" type="text" value="" /><br>
	 <input name="geo" type="text" value="0" /><br>
	 <input name="isrubric" type="text" value="No" /><br>
	 <input name="autobudgetpriority" type="text" value="Medium" /><br>
    	 
    	 <input name="MinusKw" type="text" value="MinusKw" /><br>
    	 <input name="MinusKw" type="text" value="MinusKw" /><br>
    	 <input name="MinusKw" type="text" value="MinusKw" /><br>
    	 
    	 
    	 <input name="sub" type="submit" value="sub" />
    </form>
</body>

</html>
