<html>
<head>
</head>


<body>
set company rate<br>
    <form action="/polls/company/" method="post" name="company_form">{% csrf_token %} 
         <input name="meth" type="text" value="6" /><br>
    	 <input name="Id" type="text" value="Id" /><br>
    	 <input name="mode" type="text" value="mode" /><br>
    	 <input name="pricebase" type="text" value="pricebase" /><br>
    	 <input name="procbase" type="text" value="procbase" /><br>
    	 <input name="proc" type="text" value="proc" /><br>
    	 <input name="maxprace" type="text" value="maxprace" /><br>
    	 
    	 
    	 <input name="sub" type="submit" value="sub" />
    </form>
</body>

</html>
