<html>
<head>
</head>


<body>
set rate<br>
    <form action="/polls/company/" method="post" name="company_form">{% csrf_token %} 
         <input name="meth" type="text" value="5" /><br>
    	 <input name="Id" type="text" value="phraseId" /><br>
    	 <input name="bannerId" type="text" value="bannerId" /><br>
    	 <input name="companyId" type="text" value="companyId" /><br>
    	 <input name="price" type="text" value="price" /><br>
    	 <input name="autobr" type="text" value="autobr" /><br>
    	 <input name="priority" type="text" value="priority" /><br>
    	 <input name="contextprice" type="text" value="contextprice" /><br>
    	 
    	 <input name="sub" type="submit" value="sub" />
    </form>
</body>

</html>
