<html>
<head>
</head>


<body>
update company<br>
    <form action="/polls/company/" method="post" name="company_form"><br>{% csrf_token %} 
         <input name="meth" type="text" value="2" /><br>
    	 <input name="Id" type="text" value="Id" /><br>
    	 <input name="MinusKw" type="text" value="MinusKw" /><br>
    	 <input name="MinusKw" type="text" value="MinusKw" /><br>
    	 <input name="MinusKw" type="text" value="MinusKw" /><br>
    	 
    	 <input name="sub" type="submit" value="sub" />
    </form>
</body>

</html>
